header {
    height: 75px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    flex: 1 1;
}
.left-section {
    width: 345px;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 40px #00000099;
    margin-left: 40px;
    margin-top: 40px;
    border-radius: 10px;
}
.logo {
    width: 65px;
    height: 65px;
    margin-left: 20px;
    border-radius: 35px;
}
.name {
    font-size: 25px;
    margin-left: 20px;
}