header {
    height: 75px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding-top: 30px;
    padding-left: 40px;

    flex: 1 1;
}
.left-section {
    width: 21.4%;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 40px #00000099;
    border-radius: 10px;
}
.logo {
    width: 65px;
    height: 65px;
    margin-left: 20px;
    border-radius: 35px;
}
.name {
    font-size: 25px;
    margin-left: 20px;
}
.right-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 650px;
    height: 80px;
    padding-right: 100px;
}
.heading-links {
    font-size: 28px;
    text-decoration: none;
    color: black;
}