header {
    height: 75px;

    padding-left: 200px;
    padding-right: 200px;

    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: grey;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.menu-img {
    display: flex;
    align-items: center;
    width: 66px;
}
.branch-img {
    display: flex;
    align-items: center;
    width: 64px;
}
.support-img {
    display: flex;
    align-items: center;
    width: 60px;
}