.container {
  display: flex;
  margin-top: 30px;
}


.menu {
  /* box-shadow: 0 0 40px #00000099; */
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 40px;
  width: 20%; /* Задает ширину меню */
  position: sticky; /* Меню остается на месте при прокрутке */
  top: 35px; /* Оставляет отступ сверху, чтобы меню не прилипало вплотную */
  background-color: rgba(0, 0, 0, 0.15);
  padding: 20px;
  height: fit-content; /* Меню адаптируется по высоте содержимого */
}


.menu button {
  margin: 10px 0;
  padding: 10px;
  background-color: rgba(0,0,0,0);
  border-width: 2px;
  border-radius: 20px;
  border-style: solid;
  border-color: white;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.2s;
}

.menu button:hover {
  transform: scale(1.05);
}



/* Контент */
.content {
  width: 80%;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
}

section {
  margin-bottom: 50px;
}

h2 {
  font-size: 34px;
  margin-bottom: 20px;
  margin-left: 400px;
}

/* Карточки */
.card {
  flex: 1;
  padding: 5px;
  width:80%;
  height: 95%;
  padding-bottom: 20px;
  padding-top: 20px;
  color: white;
  text-align: center;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); */
  transition: transform 0.3s, box-shadow 0.3s;
}
.card img { 
  width: 45%;
  height: 50%px;
  
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Кнопка с ценой */
.price-btn {
  background-color: rgba(0,0,0,0);
  border-width: 2px;
  border-radius: 40px;
  border-style: solid;
  border-color: white;
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 20px 25px;
  cursor: pointer;
  transition: background-color 0.3s;
  transition: opasity 0.3s;
}

.price-btn:hover {
  opacity: 0.6;
}
.podmenu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
#pizza {
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.15);
  padding: 20px;
}
#drinks {

  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.15);
  padding: 20px;

}
#doner {
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.15);
  padding: 20px;

}
#wings {
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.15);
  padding: 20px;

}
#burgers {
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.15);
  padding: 20px;

}
img {
  width: 150px;
  height: 200px;
}
.menu-buttons {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  
}